#taskInfo {
    margin-left: 600px;
    margin-right: 600px;
    height: 40px;
    background-color: #647aa678;
    font-family: Adelon;
    font-size: 20PX;
}

#taskInfo:nth-child(odd) {
    background: #7ea4ef78;
  }

  #donebtn{
    float: left;
    border-radius: 10px;
    margin-left: 600px;
    font-weight: bold;
    cursor: pointer;
    border-color: blue;
    color: rgb(59, 78, 222);
    background-color: rgb(195, 179, 232);
    height: 25px;
  }

  