#taskInfo {
    cursor: pointer;
    background: #b5d5ec;
    font-size: 30px;
    transition: 0.2s;
    margin-left: 300px;
    margin-right: 300px;
    height: 50px;
}

#taskInfo:nth-child(odd) {
    background: #96a4ea;
  }

  #donebtn{
    cursor: pointer;
    border-color: blue;
    color: cyan;
    background-color: cadetblue;
  }

  